@use "./../../styles/styling" as style;

.container {
    display: flex;
    gap: 24px;
    padding: 24px;
    max-height: 90vh;
    max-width: 1080px;
    overflow-y: scroll;

    .col {
        width: 50%;
    }

    .cover {
        img {
            border-radius: 16px;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .thumbnails {
        overflow: scroll;
        list-style: none;
        display: flex;
        gap: 8px;
        margin-top: 8px;

        li {
            cursor: pointer;
            flex: 1 0 auto;
            width: 16%;
            border-radius: 16px;
            overflow: hidden;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        li.selected {
            border: 1.5px solid rgba(0, 0, 0, 0.05);
        }

        li.selected img {
            width: 50%;
            height: 50%;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            position: absolute;
        }
    }

    .sizeChart {
        margin: 24px 0;

        h5 {
            font-size: 1.6rem;
            font-weight: 600;
            margin-bottom: 8px;
        }

        .sizes {
            list-style: none;
            display: grid;

            grid-template-columns: repeat(3, 1fr);
            gap: 8px;

            button {
                width: 100%;
                border: 1px solid rgba(0, 0, 0, 0.1);
                background-color: transparent;
                padding: 12px 0;
                border-radius: 8px;
                cursor: pointer;
                transition: border-color 0.15s;
                white-space: nowrap;
            }

            button.selected {
                border-color: style.$color-text-dark;
            }

            button:hover {
                border-color: style.$color-text-dark;
            }
        }
    }

    .details {
        padding: 12px 0;
        overflow-y: scroll;

        .title {
            font-size: 3.2rem;
            font-weight: 600;
            margin-bottom: 8px;
            font-family: style.$font-display;
        }

        .price {
            font-size: 2.4rem;
            font-weight: 500;
            margin-bottom: 24px;
        }

        .description {
            font-size: 1.6rem;
            line-height: 1.6;
            margin-top: 48px;
        }
    }

    .btnGroup {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));

        grid-gap: 8px;
        margin-top: 24px;

        button {
            height: 48px;
            border-radius: 50px;
            font-size: 1.6rem;
            cursor: pointer;
            white-space: nowrap;
            width: 100%;
        }

        button:disabled {
            opacity: 0.6;
            cursor: not-allowed;
        }

        .btnSolid {
            background-color: #222222;
            color: #fff;
            border: 0;
        }

        .btnGhost {
            background-color: transparent;
            color: #000;
            border: 1px solid rgb(186, 186, 186);
        }
    }
}

@media only screen and (max-width: 920px) {
    .container {
        padding: 16px;
        flex-wrap: wrap;

        .col {
            width: 100%;
        }
    }
}
