.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1.5px solid rgb(0, 0, 0, 0.2);
    border-radius: 48px;
    height: 48px;

    button {
        display: grid;
        place-items: center;
        cursor: pointer;
        border: 0;
        background-color: transparent;
        padding: 0 24px;

        svg {
            width: 60%;
            color: rgba(0, 0, 0, 0.4);
        }
    }

    span {
        padding: 4px;
        font-size: 1.6rem;
        white-space: nowrap;
    }
}
