.container {
    display: flex;
    align-items: center;
    border: 1.5px solid rgb(0, 0, 0, 0.2);
    border-radius: 24px;
    height: 40px;

    button {
        width: 40px;
        height: 32px;
        display: grid;
        place-items: center;
        cursor: pointer;
        border: 0;
        background-color: transparent;

        svg {
            width: 60%;
            color: rgba(0, 0, 0, 0.4);
        }
    }

    span {
        padding: 4px;
        font-size: 1.6rem;
    }
}
