@use "./../../styles/styling" as style;

.container {
    cursor: pointer;
    margin-bottom: 16px;

    .cover {
        position: relative;
        margin-bottom: 8px;

        .image {
            border-radius: 24px;
            width: 100%;
            height: 100%;
        }

        .label {
            position: absolute;
            bottom: 20px;
            left: 16px;
        }

        .wishlistBtn {
            position: absolute;
            top: 24px;
            right: 24px;
            display: grid;
            place-items: center;
            border: 0;
            background-color: transparent;
            cursor: pointer;

            svg {
                stroke-width: 1.5px;
                color: style.$color-text-lighter;
            }
        }
    }

    .details {
        padding: 0 16px;

        .title {
            font-size: 1.8rem;
            font-weight: 500;
            margin-bottom: 4px;
        }

        .price {
            font-size: 1.8rem;
            color: style.$color-text-light;
        }
    }
}
