@use "./../../styles/styling" as style;

.container {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    cursor: pointer;
    gap: 12px;

    .cover {
        width: 100%;
        height: 360px;
        border-radius: 24px;
        overflow: hidden;
        position: relative;

        .image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .tag {
            position: absolute;
            left: 16px;
            bottom: 16px;
            padding: 8px 12px;
            border-radius: 24px;
            font-size: 1.4rem;
            line-height: 1;
            background-color: style.$color-text-dark;
            color: style.$color-text-white;
        }

        .wishlistBtn {
            position: absolute;
            top: 24px;
            right: 24px;
            display: grid;
            place-items: center;
            border: 0;
            background-color: transparent;
            cursor: pointer;
        }
    }

    .details {
        // display: flex;
        justify-content: space-between;
        gap: 24px;
        padding: 0 16px;

        .subtitle {
            font-size: 1.2rem;
            font-weight: 600;
            color: style.$color-text-lighter;
            text-transform: uppercase;
            margin-bottom: 2px;
        }

        .title {
            font-size: 1.8rem;
            font-weight: 500;
            margin-bottom: 4px;
        }

        .price {
            font-size: 1.8rem;
            color: style.$color-text-light;
        }
    }
}
