$font-display: "Space Grotesk", "Inter", Roboto, Arial, Helvetica, sans-serif;
$font-ui: "Inter", Roboto, Arial, Helvetica, sans-serif;

$color-text-dark: rgba(0, 0, 0, 0.87);
$color-text-light: rgba(0, 0, 0, 0.67);
$color-text-lighter: rgba(0, 0, 0, 0.4);
$color-text-white: rgba(255, 255, 255, 0.9);
