@use "styling" as style;

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 9.5px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: style.$font-ui;
    color: style.$color-text-dark;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.4;

    // overflow-x: hidden;
    position: relative;
    min-height: 100vh;
    width: 100vw;
}

a {
    color: style.$color-text-dark;
    text-decoration: none;
}

a,
p,
li,
button {
    font-size: 1.6rem;
}

.page-wrapper {
    width: 92%;
    max-width: 1440px;
    margin: 0 auto;
}

.subtitle {
    font-size: 1.2rem;
    font-weight: 600;
    color: style.$color-text-lighter;
    text-transform: uppercase;
    margin-bottom: 2px;
}

button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.btnSolid {
    background-color: #222222;
    color: #fff;
    border: 0;
}

.btnGhost {
    background-color: transparent;
    color: #000;
    border: 1px solid rgb(186, 186, 186);
}

@media only screen and (max-width: 48rem) {
    .page-wrapper {
        width: 94%;
    }
}
