@use "./../../styles/styling" as style;

.container {
    padding: 12px;
    background: linear-gradient(
        150deg,
        hsl(228.97, 74.3%, 48.82%) 0%,
        hsl(228.76, 74.44%, 48.79%) 8.1%,
        hsl(228.16, 74.86%, 48.7%) 15.5%,
        hsl(227.26, 75.51%, 48.56%) 22.5%,
        hsl(226.14, 76.4%, 48.36%) 29%,
        hsl(224.86, 77.49%, 48.12%) 35.3%,
        hsl(223.49, 78.79%, 47.83%) 41.2%,
        hsl(222.08, 80.28%, 47.5%) 47.1%,
        hsl(220.68, 81.96%, 47.12%) 52.9%,
        hsl(219.32, 83.83%, 46.71%) 58.8%,
        hsl(218.04, 85.88%, 46.25%) 64.7%,
        hsl(216.86, 88.1%, 45.76%) 71%,
        hsl(215.8, 90.47%, 45.23%) 77.5%,
        hsl(214.89, 92.93%, 44.69%) 84.5%,
        hsl(214.2, 95.23%, 44.18%) 91.9%,
        hsl(213.89, 96.43%, 43.92%) 100%
    );

    display: flex;
    align-items: center;

    .content {
        text-align: center;
        line-height: 1.5;
        color: style.$color-text-white;

        * {
            font-size: 1.4rem;
        }
    }
}
